.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: #f7f7f7; */
    background-color: #EBFBF7;
  }
  
  .about-us-content {
    max-width: 1000px;
    max-height: 1000px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .about-us-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  .about-us-text{
    text-decoration: underline;
  }
  
  /* Add more CSS to style additional elements */
  