.sponsors {
  color: #f4b63f;
}
.desktop23{
  width: 100vw;
}
.platinum{
  width: -moz-fit-content;
  /* width: fit-content; */
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin: 30px;
  
}
.ourSponsors {
  position: absolute;
  top: 110px;
  left: 620px;
  font-weight: 600;
}
.platinum1Icon {
  position: relative;
  top: 251px;
  left: 450px;
  width: 373px;
  height: 371px;
  /* margin: 20px; */
  object-fit: cover;
  /* margin:auto; */
  margin-top: 20px;
  margin-left: 90px;
  display: flex;
  justify-content: center; /* Align items horizontally */
  align-items: center;
  
}
.civo1Icon,
.civo2Icon,
.images3Icon,
.unknown1Icon {
  position: absolute;
  top: 369px;
  left: 440px;
  width: 97px;
  height: 32px;
  object-fit: cover;
}
.civo2Icon,
.images3Icon,
.unknown1Icon {
  left: 866px;
  width: 105px;
  height: 35px;
}
.images3Icon,
.unknown1Icon {
  top: 326px;
  left: 664px;
  width: 110px;
  height: 93px;
}
.unknown1Icon {
  top: 425px;
  left: 440px;
  width: 147px;
  height: 53px;
}
.unknown2Icon {
  top: 408px;
  left: calc(50% - 76px);
  width: 168px;
  height: 82px;
}
.images4Icon,
.unknown2Icon,
.unknown4Icon {
  position: absolute;
  left:650px;
  object-fit: cover;
}
.unknown4Icon {
  top: 435px;
  left: 859px;
  width: 133px;
  height: 33px;
}
.images4Icon {
  top: 326px;
  left: calc(50% - 55px);
  width: 110px;
  height: 93px;
}
.desktop23Child,
.desktop23Inner,
.desktop23Item {
  position: absolute;
  top: 524px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 15px;
  height: 15px;
}
.desktop23Child {
  left: 620px;
}
.desktop23Inner,
.desktop23Item {
  left: 741px;
}
.desktop23Inner {
  left: 683px;
}
.thanksYouTo {
  margin: 0;
}
.thanksYouToContainer {
  position: absolute;
  top: 186px;
  left: 390px;
  font-size: 14px;
  font-weight: 500;
  color: #9da1a6;
  display: inline-block;
  width: 658px;
}
.desktop23 {
  position: relative;
  background-color: #091220;
  width: 100%;
  height: 903px;
  overflow: hidden;
  /* text-align: left; */
  font-size: 36px;
  color: #fff;
  font-family: var(--font-poppins);
  /* margin: auto; */
}
.carouselWrapper {
  width: 100%;
  max-width: 100%;
  /* margin-left: 40px; */
}