/* Custom CSS for buttons */
.custom-button {
    background-color: #47E4C3; /* Red color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  /* .custom-button:hover {
    background-color: white; /* Darker red on hover */
  
   